.ad-container1,
.ad-container2{
	width: 50%;
	border-radius: 9px;
    padding: 19px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
    background-color: rgb(243, 245, 247);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	position: relative;
	z-index: 1;
	margin-bottom: 0px;
	position: relative;
	z-index: 1;
	margin-bottom: 0px;
	cursor: pointer;
}


.ad-container1 img,
.ad-container2 img{
	width: 100%;
	height: 100%;
	border-radius: 6px;
	margin: auto;
	object-fit: contain;
	transition: all 0.3s ease-in;
}
